.gallery{

}


h1{
    font-size: 5vh;
    margin: 10vh 0vh 3vh 0vh;
    text-align: center;
    color: #ffa800; 
    font-weight: bold;
}


.galleryRow button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    width: 50%;
    background-color:#dd3438;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 1vh;
    margin-top: 5vh;
    font-size: 2.5vh;
    width: 30vh;
}