.announcement{
    padding: 3vh;
    background-color: white;
}

.announcement p{
    font-size: 2vh;
}

.date{
    color: grey;
}

.announcement img{
    width: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

