.gallery{
  font-family: 'Poppins', sans-serif;

}
.galleryPage{
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

/* Gallery */
.galleryContainer{
  margin: 10vh 0vh 10vh 0vh;
}
.galleryCard {
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;  border: none;
  color: black;
  text-align: center;

}

.galleryCard:hover{
  background-color: #dd3438;
  color: white;
  transition: 0.4s;
}
