.team{
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

/* Header */
.teamHeader{
  background-color: #dd3438;
  height: 27vh;
  font-size: 7vh;
  padding-bottom: 40vh;
}

.teamHeader h1{
  margin: 20vh 0vh 0vh 0vh;
  font-size: 6vh;
  text-align: center;
  color: #ffa800; 
  font-weight: bold;
}


/* Team  */


.team-container{
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color:#f2f2f2;
}

.teamCard{
  border: none;
  text-align: center;
  margin: auto auto 3vh auto;
  background-color: white;
}


.teamCard:hover{
  background-color: #dd3438;
  color: white;
  transition: 0.4s;
}

.teamCard h2{
  font-size: 2.6vh;
  font-weight: none;
}


.teamCard h3{
  font-size: 2vh;
  font-weight: none;
}

.teamCol{}